@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #999;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgba(241, 11, 11, 0.956);
  --secondary-color: #e4f406;
  --white-color: #fff;
  --black-color: #262626;
}

*,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.text {
  font-size: 17px;
}

p {
  font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a,
button {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

.font-heading {
  font-family: "Noto Serif", serif;

}

button:focus,
input:focus,
textarea:focus,
select:focus,
a:hover {
  outline: none;
  box-shadow: none;
}

section {
  padding: 70px 0 70px;
  background: var(--white-color);
  color: var(--black-color);
}

.large_heading {
  font-size: 45px;
}

.heading {
  font-size: 35px;
  line-height: 48px;
}

.sub_heading {
  font-size: 30px;
}

.small_heading {
  font-size: 26px;
}

.title {
  font-size: 20px;
}

.containerFull {
  padding: 0 40px;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-light {
  background-color: #f1eded;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.fontWeight300 {
  font-weight: 300;
}

.fontWeight400 {
  font-weight: 400;
}

.fontWeight500 {
  font-weight: 500;
}

.fontWeight600 {
  font-weight: 600 !important;
}

.fontWeight700 {
  font-weight: 700;
}

.fontWeight800 {
  font-weight: 800;
}

.fontWeight900 {
  font-weight: 900;
}


.text-justify {
  text-align: justify;
}


.btnTheme,
.btnTheme2 {
  width: fit-content;
  position: relative;
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  color: #ffff;
  border: none;
  border-radius: 5px;
  background: var(--primary-color);

  overflow: hidden;
  cursor: pointer;

}

.btnTheme2 {
  background: var(--muted-gold);
  color: var(--secondary-color);
}


.btnTheme:after,
.btnTheme2:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #e1ad01;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.btnTheme2:after {
  background-color: var(--primary-color);
}

.btnTheme:hover::after,
.btnTheme2:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.btnTheme span,
.btnTheme2 span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 4px 12px;
  letter-spacing: 1px;
  font-weight: 700;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.btnTheme:hover span,
.btnTheme2:hover span {
  color: #2f2f2f;
  animation: scaleUp 0.3s ease-in-out;
}

.btnTheme2:hover span {
  color: var(--white);
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}






.heroBox {
  width: 100%;
  height: 580px;
  overflow: hidden;


  text-align: center;
  color: white;
}

.heroContent {
  margin-top: 90px;
}

.heroContent .large_heading {
  font-size: 60px;
  line-height: 87px;
}

.heroContent h3 {
  font-size: 30px;
  letter-spacing: 3px;
  word-spacing: 5px;
}

.bannerBtns {
  margin-top: 30px;
}





.heroVideo {
  width: 100%;
  height: 700px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 7 7%); */


}

.heroVideo .video {
  position: relative;
  width: 100%;
  height: 100%;
}

.heroVideo .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
  z-index: -1;
}

.heroVideo .video::before {
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.701);
}

.aboutImg img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutImg {
  display: grid;
  grid-template-columns: 50% 50%;
}

.aboutImg figure {
  width: 100%;
  height: 50%;
  padding: 10px;
}

.aboutImg figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderContainer {
  width: 100%;
  /* background: #000; */
  height: 360px;

  margin-top: 30px;
  overflow: hidden;
  position: relative;
}

.sliderBox {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  position: absolute;
  top: 10px;
  left: 10px;
}

.sliderItems {
  width: calc(25% - 40px);
  height: 330px;
  flex-shrink: 0;
  margin-right: 43px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.332);
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.uploadsDate {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: #000000cd;
  color: white;
  transform: translateY(80px);
  transition: all 0.4s ease-in-out;
}

.uploadsDate a {
  color: var(--secondary-color);
  font-size: 16px;
  /* display: none; */

}



.uploadImg {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.uploadImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderItems:hover .uploadImg {
  opacity: 0.8;
  filter: blur(1px);
}

.sliderItems:hover .uploadsDate {

  transform: translateY(0);

}

.callBg {
  width: 100%;
  height: 460px;
  /* background: rgba(0, 0, 0, 0.278); */
  background: linear-gradient(rgba(0, 0, 0, 0.804), rgba(0, 0, 0, 0.822)), url('./assets/call-to-aciton.jpg');
  background-size: cover;
  background-attachment: fixed;

}

.callContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  place-items: center;
  color: white;
  padding: 20px 100px;
}

.callContainer .large-heading {
  font-size: 50px;
  letter-spacing: 3px;
}

.callContainer img {
  width: 400px;
  height: 430px;
}

.logo h1,
.footerlogo h1 , .offcanvas-header h1 {
  font-family: "Dancing Script", cursive;

}


header {
  color: white;
}

.topHeader {
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.444);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  padding-right: 80px;
}

.topHeader p {
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 4px;
  /* color: var(--secondary-color); */
}

nav {
  padding: 10px 50px;
}

nav h1 {
  font-size: 50px;
}

.navLinks ul {
  padding-right: 30px;
}

.navLinks ul li a {
  color: white;
  font-size: 18px;
  transition: all 0.4s ease-in-out;

}

.navLinks ul li .active {

  /* text-decoration: underline; */
  border-bottom: 1px solid white;
  /* font-weight: 800; */

}


.testimonial-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonial-btns button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  border: none;
}

.testimonial-btns button.active {
  background: var(--primary-color);
}


.carousel-inner .btnTheme {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: pink;
  position: absolute;
  left: 5%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.carousel-inner .btnTheme:last-child {
  right: 5%;
  left: unset;

}

.contact-section {
  width: 100%;
  height: 500px;
  overflow: hidden;

}

.carousel-item {
  height: 200px;
}


footer {
  background: #e8e5e5f1;
}



.stricky {
  position: relative;
  /* padding: 10px; */
  text-align: center;
  transition: all 0.3s ease;
}

.stricky-fixed .topHeader {
  display: none;
}

.stricky-fixed .navLinks a {
  color: #000;
}

.stricky-fixed {
  position: fixed;
  background-color: #f9f9f9;
  color: #000;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 98;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scroll-to-top {
  display: none;
  background: var(--primary-color);
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.scroll-to-top:hover {
  background: #0056b3;
}
.stricky-fixed .logo h1 a{
  color: #000 !important;
}

.offCanvasBox{
  height: 100vh;
  width: 80%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  transition: all 0.4s ease-in-out;
}
.offcanvas-header{
  background: var(--primary-color);
}

.offCanvasBox.active{
  right: -80%;
}


