@media only screen and (max-width: 767px) {
  p {
    font-size: 15px;
  }

  .containerFull {
    padding: 0 15px;
  }

  .header {
    padding: 0px 0;
  }


  .large_heading {
    font-size: 32px;
    line-height: 35px;
  }

  .small_heading {
    font-size: 20px;
  }

  section {
    overflow: inherit;
    padding: 35px 0;
  }

  .heading {
    font-size: 28px;
    line-height: normal;
  }

  .sub_heading {
    font-size: 24px;
    line-height: normal;
  }

  .title {
    font-size: 17px;
  }

  .text {
    font-size: 15px;
  }

  .title {
    font-size: 17px;
  }

  /* header {
    display: none;
  } */

  /* .callBg {
    display: none;
  } */


  .topHeader {
    display: none;
  }

  .heroContent .large_heading {
    font-size: 33px;
    line-height: 44px;
  }

  .heroContent h3 {
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 0px;
  }

  .btnTheme span,
  .btnTheme2 span {
    padding: 0;
  }

  .bannerBtns {
    flex-direction: column-reverse;
    gap: 10px;
    margin-top: 15px;
  }

  .btnTheme,
  .btnTheme2 {
    padding: 8px 14px;
  }

  header {
    width: 100%;
    overflow: hidden;
  }

  footer {
    overflow: hidden;
  }

  nav {
    padding: 10px 15px;
  }

  nav h1 {
    font-size: 35px;
  }

  .heroBox {
    height: 450px;
  }

  .heroVideo {
    height: 500px;
  }

  .heroContent {
    margin-top: 60px;
  }

  .uploadsDate {
    height: 137px;
    bottom: 17px;
  }

  .sliderItems {
    width: 100%;
    height: 220px;
    margin-right: 20px;
    box-shadow: none !important;

  }

  .sliderItems:hover .uploadsDate {
    bottom: 0;
  }

  .uploadsDate a {

    font-size: 14px;
  }

  .sliderContainer {
    margin-top: 14px;
  }

  .AboutContainer .heading {
    font-size: 26px;
  }

  .sliderContainer {

    height: 225px;
  }

  figure {
    margin: 0;
  }

  .aboutImg figure {

    padding: 5px;
  }

  .AboutSections {
    border: none !important;
  }

  .AboutSections div {
    border: none !important;

  }

  .callContainer {
    display: block;
    padding: 35px 15px;
  }

  .callBg {
    height: 620px;
  }

  .callContainer img {
    width: 327px;
    height: 336px;
  }

  .callContainer .large-heading {
    font-size: 26px;
    letter-spacing: 3px;
  }

  .carousel-item .fs-5 {
    font-size: 14px !important;
  }

  .carousel-inner .btnTheme {
    width: 28px;
    height: 28px;
    left: 2%;
    top: 26%;
    display: flex;

    font-size: 14px;
  }

  .carousel-inner .btnTheme:last-child {
    right: 2%;
    left: unset;
  }

  .Contact-form {
    flex-wrap: wrap-reverse;

  }

  .Contact-form .form-label {
    margin-bottom: 2px;
    font-size: 13px;
    margin-left: 4px;
  }

  .Contact-form .form-control {
    font-size: 13px;
  }

  .Contact-form iframe {
    height: 400px !important;
  }

  .footerlogo h1 {
    font-size: 38px;
  }

  .copyright-section h6 {
    font-size: 13px;
  }

  .shortBanner,
  .shortBannerBox {
    height: 230px;
  }

  .newspaperDetails h1 {
    letter-spacing: unset;
  }

  .newspaperDetails p {
    font-size: 14px;
  }

  .updateBox:nth-child(2n) .row {
    background: #f9f9f9;
    padding: 40px 0;

  }

  .loginContainer {
    max-width: 100%;
    padding: 0 50px;
  }

  .loginForm input,
  .loginForm button {
    padding: 8px;
  }

  .admin-sidebar {
    width: 320px;
    z-index: 20;
    transform: translateX(-100%);
    background: var(--primary-color);
    backdrop-filter: blur(10px);
    transition: all 0.4s ease-in-out;

  }

  .adminNavBar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 10;
  }

  .activeSidebar {
    transform: translateX(0) !important;
    transition: all 0.4s ease-in-out;
  }

  .cancelsidebar {
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 25px;
    color: white;
  }

  .registrationForm.shadow-lg,
  .newspaperNew.shadow {
    box-shadow: unset !important;
    background: transparent !important;

  }

  .newHeading {
    font-size: 24px;
  }

  .form-label {
    margin-bottom: 3px;
  }

  .form-control {
    font-size: 14px;
  }

  .newBtns {
    padding: 8px 12px;
    font-size: 10px !important;
  }

  .uploadImgNew {
    padding: 25px;
  }

  .uploadImgNew label {

    padding: 6px 20px;
    font-size: 13px;

  }



  .textDiv h1 {
    font-size: 1.5rem;
  }

  .textDiv .description {
    font-size: 0.9rem;
    width: 90%;
  }

  .btn.continue-btn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }


  .shortBanner-Content {

    padding: 0 30px;
  }




}





@media (min-width: 768px) and (max-width: 990px) {
  p {
    font-size: 16px;
  }

  section {
    padding: 40px 0 40px;
  }

  .containerFull {
    padding: 0 15px;
  }

  .large_heading {
    font-size: 33px;
    line-height: 50px;
  }

  .heading {
    font-size: 28px;
  }

  .sub_heading {
    font-size: 23px;
  }

  .small_heading {
    font-size: 20px;
  }

  .title {
    font-size: 17px;
  }

  .text {
    font-size: 15px;
  }

  .btnTheme,
  .btnSecondary {
    font-size: 14px;
    padding: 11px 20px;
  }

  .leftLogo {
    width: 160px;
    margin-bottom: 6px;
  }

  .stricky-fixed .leftLogo {
    width: 122px;
  }

  .inlineHeader {
    padding: 0 20px;
  }


  .offcanvas {
    visibility: unset;
  }

  .offcanvas-end {
    width: 320px;
  }

  .offcanvas-body {
    overflow-x: hidden;
    padding: 0rem 1rem;
  }

  .footerlogo {
    width: 140px;
    padding: 10px 20px;
  }

  .btnMenu {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 23px;
    margin-right: 10px;
  }

  .title {
    font-size: 17px;
  }

  .stricky-fixed .btnMenu {
    color: #000;
  }

  .offcanvas-end {
    width: 320px;
  }

  .offcanvas-body {
    overflow-x: hidden;
    padding: 0rem 1rem;
  }

  .offcanvas-header {
    background-color: var(--primary-color);
    margin-bottom: 30px;
  }

  .innerMenu ul li a {
    color: #222;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    padding: 8px 10px;
    font-weight: 600;
  }


  .innerMenu ul li a:hover {
    color: var(--primary-color);
  }

}





@media (min-width: 990px) and (max-width: 1024px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {
  .containerFull {
    max-width: 1400px;
    margin: 0 auto;
  }
}

@media (min-width: 1600px) {
  .containerFull {
    max-width: 1366px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}